
  .favoritebtn:hover {opacity: 0.5}



  


      
  .favoritebtn {
    grid-area: favbtn;
    background-color: #f4511e;
    border: none;
    transition: 0.2s;
    color: white;
    justify-self: right;


    font-size: 17px;
 


width: 150px;
height: 60px;

  }

  #description {

    display: block; margin-left: auto; margin-right: auto; width: 80%; border-style:groove; border-color:orange;
    text-align: center;
  }

  #video{
     margin-left: auto; margin-right: auto; width: 90%; 
   height: 18.75rem;
    
  }

  .footer {
   background-color: orange;
  }

  #useremail {
    display: none;
  }

  .video-container {
    text-align: center;
  }

  .buttonanddescriptioncontainer {

display: flex; align-items: center; justify-content: center;

  }

  .betweendesandfooter{

   height: 100px;
  }